engine-tests/src/test/resources/com/sos/scheduler/engine/tests/scheduler/config/schema/test-xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:element name="spooler">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="config">
                    <xsd:complexType>
                        <xsd:attribute name="INVALID" type="xsd:string"/>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
