spooler_config.dtd

<?xml version="1.0" encoding="iso-8859-1"?>
<!-- $Id: spooler_config.dtd,v 1.6 2001/01/04 18:17:26 jz Exp $   (C) 2000 SOS GmbH Berlin 

     Konfiguration für den Spooler. 
     
-->


<!-- KONFIGURATION DES SPOOLERS -->

<!ELEMENT spooler.config        ( try_start_job_period?, object_set_classes, jobs? ) >


<!ELEMENT try_start_job_period  ( #PCDATA ) >   <!-- Sekunden -->
<!-- Periode, nach der ein Job erneut gestartet wird, um zu prüfen, ob die Objektemenge nicht leer ist -->


<!ELEMENT object_set_classes    ( object_set_class+ ) >

<!ELEMENT object_set_class      ( level_decls?, script? ) >
<!ATTLIST object_set_class      name CDATA #REQUIRED >

<!ELEMENT level_decls           ( level_decl+ ) >

<!ELEMENT level_decl            ( level, level_description ) >

<!ELEMENT level                 ( #PCDATA ) >

<!ELEMENT level_description     ( #PCDATA ) >

<!ELEMENT script                ( #PCDATA ) >
<!ATTLIST script                language CDATA "VBScript" >



<!ELEMENT jobs                  ( job+ ) >

<!ELEMENT job                   ( object_set, 
                                  job.output_level, 
                                  job.priority?, 
                                  job.start_time?, 
                                  job.stop_after_error?, 
                                  job.rerun?, 
                                  job.start_after_spooler? ) >
<!ATTLIST job                   name CDATA #REQUIRED >

<!ELEMENT object_set            ( object_set_class.name, job.levels? ) >

<!ELEMENT object_set_class.name ( #PCDATA ) >

<!ELEMENT job.output_level      ( level ) >

<!ELEMENT job.levels            ( low_level, high_level ) >     <!-- low_level <= level < high_level -->

<!ELEMENT low_level             ( level ) >

<!ELEMENT high_level            ( level ) >  

<!ELEMENT job.priority          ( #PCDATA ) >

<!ELEMENT job.start_time        ( time, date*, weekdays?, monthdays?, ultimos?, holiday*, duration?, period? ) >

<!ELEMENT time                  ( #PCDATA ) >   <!-- HH:MM:SS -->

<!ELEMENT date                  ( #PCDATA ) >   <!-- yyyy-mm-dd -->

<!ELEMENT weekdays              ( day+ ) >      <!-- 0: Sonntag, 6: Sonnabend -->
<!ELEMENT monthdays             ( day+ ) >      <!-- 1 bis 31 -->
<!ELEMENT ultimos               ( day+ ) >      <!-- 0 bis 30 Tage vor Ultimo -->
<!ELEMENT holiday               ( #PCDATA ) >   <!-- yyyy-mm-dd, an diesem Tag den Job nicht starten -->
<!ELEMENT day                   ( #PCDATA ) >

<!ELEMENT duration              ( #PCDATA ) >   <!-- Laufzeit des Jobs ab Startzeit -->

<!ELEMENT period                ( #PCDATA ) >

<!ELEMENT stop_after_error      EMPTY >         <!-- Nach einem Fehler diesen Job nie wieder starten -->

<!ELEMENT rerun                 EMPTY >         <!-- Nach Abbruch des Spoolers diesen Job ggf. erneut starten -->
                                  
<!ELEMENT start_after_spooler   EMPTY >         <!-- Den Job auch nach verspäteten Start des Spoolers starten -->




<!-- KOMMANDOS -->

<!ELEMENT spooler.command       ( show_state ) >

<!ELEMENT show_state            EMPTY >




<!-- ANTWORTEN AUF DIE KOMMANDOS -->

<!ELEMENT spooler.answer        ( state | COMMAND_ERROR ) >

<!ELEMENT state                 ( state_time, spooler_start_time, spooler_log_filename, tasks ) >

<!ELEMENT state_time            ( #PCDATA ) >   <!-- yyyy-mm-dd HH:MM:SS -->

<!ELEMENT spooler_start_time    ( #PCDATA ) >   <!-- yyyy-mm-dd HH:MM:SS -->

<!ELEMENT spooler_log_filename  ( #PCDATA ) >

<!ELEMENT tasks                 ( task+ ) >

<!ELEMENT task                  ( job.name, 
                                  task.running_since, 
                                  task.next_start_time,
                                  task.steps ) >

<!ELEMENT job.name              ( #PCDATA ) >

<!ELEMENT task.steps            ( #PCDATA ) >   <!-- Anzahl der bisher ausgeführten Jobschritte -->

<!ELEMENT task.running_since    ( #PCDATA ) >   <!-- yyyy-mm-dd HH:MM:SS -->

<!ELEMENT task.next_start_time  ( #PCDATA ) >   <!-- yyyy-mm-dd HH:MM:SS -->


<!ELEMENT COMMAND_ERROR         ( #PCDATA ) >