spooler_config.dtd

<?xml version="1.0" encoding="iso-8859-1"?>
<!-- $Id: spooler_config.dtd,v 1.10 2001/01/07 10:12:18 jz Exp $   (C) 2000 SOS GmbH Berlin 
     Joacim Zschimmer

     Konfiguration für den Spooler. 
     
-->


<!-- KONFIGURATION DES SPOOLERS -->

<!ELEMENT spooler_config        ( object_set_classes, jobs? )>
<!ATTLIST spooler_config        log_file            CDATA #IMPLIED>
<!ATTLIST spooler_config        tcp_port            CDATA "4444">
<!ATTLIST spooler_config        udp_port            CDATA "4444">


<!ELEMENT object_set_classes    ( object_set_class+ )>

<!ELEMENT object_set_class      ( level_decls?, script? )>
<!ATTLIST object_set_class      name                CDATA #REQUIRED>

<!ELEMENT level_decls           ( level_decl+ )>

<!ELEMENT level_decl            EMPTY>
<!ATTLIST level_decl            level               CDATA #REQUIRED>
<!ATTLIST level_decl            name                CDATA #REQUIRED>

<!ELEMENT script                ( #PCDATA )>
<!ATTLIST script                language            CDATA "VBScript">



<!ELEMENT jobs                  ( job+ )>

<!ELEMENT job                   ( ( object_set | script ), run_time? )>
<!ATTLIST job                   name                CDATA #REQUIRED>
<!ATTLIST job                   priority            CDATA #IMPLIED>
<!ATTLIST job                   output_level        CDATA #IMPLIED>
<!ATTLIST job                   spooler_id          CDATA ''>
<!ATTLIST job                   rerun               (yes|no) "no" >     <!-- Laufenden Job bei Abbruch und Neustart des Spoolers erneut starten -->
<!ATTLIST job                   stop_after_error    (yes|no) "yes">     <!-- Nach einem Fehler diesen Job nie wieder starten -->
<!ATTLIST job                   start_after_spooler (yes|no) "no" >     <!-- Den Job auch nach verspäteten Start des Spoolers starten -->


<!ELEMENT object_set            ( levels? )>
<!ATTLIST object_set            class CDATA #REQUIRED>

<!ELEMENT levels                EMPTY>          
<!ATTLIST levels                low                 CDATA #REQUIRED>    <!-- low <= level < high -->
<!ATTLIST levels                high                CDATA #REQUIRED>

<!ELEMENT run_time              ( time_of_day?, date*, weekdays?, monthdays?, ultimos?, holiday* )>
<!ATTLIST run_time              retry_period        CDATA "5">          <!-- Periode, nach der ein Job erneut gestartet wird, 
                                                                             um zu prüfen, ob die Objektemenge nicht leer ist -->
<!ATTLIST run_time              begin               CDATA '00:00:00'>   <!-- HH:MM:SS -->
<!ATTLIST run_time              end                 CDATA '24:00:00'>   <!-- HH:MM:SS -->

<!ELEMENT date                  EMPTY>
<!ATTLIST date                  date                CDATA #IMPLIED>     <!-- yyyy-mm-dd -->

<!ELEMENT weekdays              ( day+ )>                               <!-- 0: Sonntag, 6: Sonnabend -->

<!ELEMENT monthdays             ( day+ )>                               <!-- 1 bis 31 -->

<!ELEMENT ultimos               ( day+ )>                               <!-- 0 bis 30 Tage vor Ultimo -->

<!ELEMENT holiday               EMPTY>                              
<!ATTLIST holiday               date                CDATA #REQUIRED>    <!-- yyyy-mm-dd, an diesem Tag den Job nicht starten -->

<!ELEMENT day                   EMPTY>                                  <!-- Erweiterbar um time* -->
<!ATTLIST day                   day                 CDATA #REQUIRED>





<!-- KOMMANDOS -->

<!ELEMENT spooler_command       ( show_state | modify_job )>

<!ELEMENT show_state            EMPTY>
<!-- Antwort: <state> -->

<!ELEMENT modify_job            EMPTY>
<!ATTLIST modify_job            job                 CDATA #REQUIRED>
<!ATTLIST modify_job            action              (start|stop) #REQUIRED>
<!-- Antwort: <tasks> -->



<!-- ANTWORTEN AUF DIE KOMMANDOS -->

<!ELEMENT spooler_answer        ( state | task | ERROR )>

<!ELEMENT state                 ( tasks )>
<!ATTLIST state                 time                CDATA #REQUIRED>    <!-- yyyy-mm-dd HH:MM:SS -->
<!ATTLIST state                 running_since       CDATA #REQUIRED>    <!-- yyyy-mm-dd HH:MM:SS -->
<!ATTLIST state                 log_file            CDATA #IMPLIED>

<!ELEMENT tasks                 ( task+ )>

<!ELEMENT task                  ( ERROR? )>
<!ATTLIST task                  job                 CDATA #REQUIRED>    <!-- yyyy-mm-dd HH:MM:SS -->
<!ATTLIST task                  running             (yes|no) #REQUIRED> 
<!ATTLIST task                  steps               CDATA #IMPLIED>     <!-- Anzahl der bisher ausgeführten Jobschritte -->
<!ATTLIST task                  running_since       CDATA #IMPLIED>     <!-- yyyy-mm-dd HH:MM:SS -->
<!ATTLIST task                  next_start_time     CDATA #REQUIRED>    <!-- yyyy-mm-dd HH:MM:SS -->

<!ELEMENT ERROR                 EMPTY>
<!ATTLIST ERROR                 class               CDATA #IMPLIED>     <!-- "EOF" -->
<!ATTLIST ERROR                 code                CDATA #REQUIRED>    <!-- "SOS-1234" -->
<!ATTLIST ERROR                 source              CDATA #IMPLIED>     <!-- Dateiname -->
<!ATTLIST ERROR                 line                CDATA #IMPLIED>     <!-- Zeilennummer, beginned mit 1 -->
<!ATTLIST ERROR                 col                 CDATA #IMPLIED>     <!-- Spaltennummer, beginned mit 1 -->
<!ATTLIST ERROR                 text                CDATA #REQUIRED>    <!-- Fehlertext mit Fehlercode -->

<!ELEMENT COMMAND_ERROR         ( #PCDATA )>