spooler.dtd

<?xml version="1.0" encoding="iso-8859-1"?>
<!-- $Id: spooler.dtd,v 1.26 2001/07/16 16:39:35 jz Exp $   Joacim Zschimmer,  (C) 2000 SOS GmbH Berlin  -->


<!ELEMENT spooler               ( config+ | command | answer )>



<!-- KONFIGURATION DES SPOOLERS - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<!ELEMENT config                ( security?, object_set_classes?, threads? )>
<!ATTLIST config                spooler_id          CDATA ''>           <!-- Diese Konfiguration ist nur für einen Spooler mit dieser Kennung -->
<!ATTLIST config                log_dir             CDATA #IMPLIED>
<!ATTLIST config                tcp_port            CDATA '4444'>       <!-- Für TCP-Kommandoschnittstelle -->
<!ATTLIST config                udp_port            CDATA '4444'>       <!-- Für UDP-Kommandoschnittstelle -->
<!ATTLIST config                priority_max        CDATA '1000'>       <!-- Höchste Priorität. Gibt absoluten Vorrang -->
<!ATTLIST config                param               CDATA ''>           <!-- Wird der Eigenschaft spooler.param jedem Skript übergeben -->
<!ATTLIST config                include_path        CDATA #IMPLIED>     <!-- Pfad für <include> -->
<!ATTLIST config                free_threading      CDATA 'no'>         <!-- Voreinstellung für <thread free_threading> -->

<!ELEMENT security              ( allowed_host* )>
<!ATTLIST security              ignore_unknown_hosts (yes|no) 'no'>     <!-- Unbekannte Hostnamen bei <allowed_host> ignorieren? -->

<!ELEMENT allowed_host          EMPTY>
<!ATTLIST allowed_host          host                CDATA #REQUIRED>
<!ATTLIST allowed_host          level               (none|signal|info|all) #REQUIRED>
                                                                        <!-- level="none"     Nichts zugelassen (das ist default) -->
                                                                        <!-- level="signal"   <signal-object> zugelassen, nur UDP -->
                                                                        <!-- level="info"     <show_state> zugelassen -->
                                                                        <!-- level="all"      Alles zugelassen -->

<!ELEMENT object_set_classes    ( object_set_class+ )>

<!ELEMENT object_set_class      ( level_decls?, script? )>
<!ATTLIST object_set_class      name                CDATA #REQUIRED>
<!ATTLIST object_set_class      script_interface    (oo|procedural) 'oo'> <!-- Objektorientierte oder prozedurale Schnittstelle -->

<!ELEMENT level_decls           ( level_decl+ )>

<!ELEMENT level_decl            EMPTY>
<!ATTLIST level_decl            level               CDATA #REQUIRED>    <!-- Stufennummer, in der Objektemengeklasse eindeutig -->
<!ATTLIST level_decl            name                CDATA #REQUIRED>    <!-- Name der Stufe, in der Objektemengeklasse eindeutig -->

<!ELEMENT script                ( #PCDATA | include )*>
<!ATTLIST script                language            CDATA 'VBScript'>   <!-- Z.B. "VBScript", "JavaScript", "PerlScript" -->
<!ATTLIST script                use_engine          (task|job) 'task'>  <!-- use_engine="task"  : Jeder Task eine Scripting Engine -->
                                                                        <!-- use_engine="job"   : Allen Tasks dieses Jobs eine Scripting Engine -->
                                                                        <!--[use_engine="global": Globale Scripting Engine des Spoolers verwenden]-->

<!ELEMENT include               EMPTY>
<!ATTLIST include               file                CDATA #REQUIRED>

<!ELEMENT threads               ( thread* )>

<!ELEMENT thread                ( script?, jobs? )>
<!ATTLIST thread                name                CDATA #REQUIRED>
<!ATTLIST thread                spooler_id          CDATA ''>           <!-- "": Thread läuft auf jedem Spooler, sonst nur Spooler mit derselben Spooler-Id -->
<!ATTLIST thread                include_path        CDATA #IMPLIED>     <!-- Pfad für <include> -->
<!ATTLIST thread                free_threading      CDATA #IMPLIED>     <!-- free_threading="yes": Dieser Thread soll frei laufen (nebenläufig) 
                                                                             Default ist <config free_threading=...> -->

<!ELEMENT jobs                  ( job* )>

<!ELEMENT job                   ( ( object_set | script | process ), run_time? )>
<!ATTLIST job                   name                CDATA #REQUIRED>    <!-- Über alle Threads eindeutiger Name -->
<!ATTLIST job                   priority            CDATA '1'>          <!-- Höhere Zahl ist höhere Priorität -->
<!ATTLIST job                   temporary           (yes|no) 'no'>      <!-- Der Job wird nach einem Lauf entfernt -->
<!ATTLIST job                   output_level        CDATA #IMPLIED>     <!-- Stufennummer. Auf diese Stufe werden die Objekte der Objektemenge gesetzt -->
<!ATTLIST job                   spooler_id          CDATA ''>           <!-- "": Job läuft auf jedem Spooler, sonst nur Spooler mit derselben Spooler-Id -->


<!ELEMENT object_set            ( levels? )>
<!ATTLIST object_set            class CDATA #REQUIRED>

<!ELEMENT levels                EMPTY>          
<!ATTLIST levels                low                 CDATA #REQUIRED>    <!-- low <= level < high -->
<!ATTLIST levels                high                CDATA #REQUIRED>

<!ELEMENT process               EMPTY>
<!ATTLIST process               file                CDATA #REQUIRED>
<!ATTLIST process               param               CDATA ''>

<!-- wenn der DLL-Aufruf implementiert ist:
<!ELEMENT module                EMPTY>
<!ATTLIST process               file                CDATA #REQUIRED>
-->

<!ELEMENT run_time              ( period*, date*, weekdays?, monthdays?, ultimos?, holiday* )>
<!ATTLIST run_time              single_start        CDATA #IMPLIED>     <!-- Statt begin: Task wird nur einmal um diese Zeit gestartet --> 
<!ATTLIST run_time              begin               CDATA '00:00:00'>   <!-- HH:MM:SS, Tageszeit, ab der der Job laufen soll -->
<!ATTLIST run_time              end                 CDATA '24:00:00'>   <!-- HH:MM:SS, Tageszeit, bis zu der der Job laufen soll -->
<!ATTLIST run_time              let_run             (yes|no) 'no'>      <!-- Task zuende laufen lassen, auch wenn Endezeit überschritten ist -->
<!ATTLIST run_time              repeat              CDATA '5'>          <!-- Periode, nach der ein Job erneut gestartet wird, 
                                                                             um zu prüfen, ob die Objektemenge nicht leer ist -->

<!ELEMENT period                EMPTY>
<!ATTLIST period                single_start        CDATA    #IMPLIED>  <!-- Ersetzt übergeordnetes single_start, begin und end  --> 
<!ATTLIST period                begin               CDATA    #IMPLIED>  <!-- Ersetzt übergeordnetes single_start, begin und end  --> 
<!ATTLIST period                end                 CDATA    #IMPLIED>  <!-- Ersetzt übergeordnetes single_start, begin und end  --> 
<!ATTLIST period                let_run             (yes|no) #IMPLIED>  <!-- Ersetzt übergeordnetes let_run  --> 
<!ATTLIST period                repeat              CDATA    #IMPLIED>  <!-- Ersetzt übergeordnetes repeat  --> 

<!ELEMENT date                  ( period* )>                            <!-- Ein bestimmter Tag, an dem der Job laufen soll -->
<!ATTLIST date                  date                CDATA #IMPLIED>     <!-- yyyy-mm-dd -->

<!ELEMENT weekdays              ( day+ )>                               <!-- 0: Sonntag, 6: Sonnabend -->

<!ELEMENT monthdays             ( day+ )>                               <!-- 1 bis 31 -->

<!ELEMENT ultimos               ( day+ )>                               <!-- 0 bis 30 Tage vor Ultimo -->

<!ELEMENT holiday               EMPTY>                              
<!ATTLIST holiday               date                CDATA #REQUIRED>    <!-- yyyy-mm-dd, an diesem Tag den Job nicht starten -->

<!ELEMENT day                   ( period* )>
<!ATTLIST day                   day                 CDATA #REQUIRED>





<!-- KOMMANDOS  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<!ELEMENT command               ( show_state | modify_spooler | modify_job | add_jobs | signal_object )+ >

<!ELEMENT show_state            EMPTY>                                  <!-- Liefert den Zustand des Spoolers -->
                                                                        <!-- Antwort: <state> -->

<!ELEMENT modify_spooler        EMPTY>
<!ATTLIST modify_spooler        cmd                 ( pause
                                                    | continue
                                                    | stop
                                                    | reload
                                                    | terminate
                                                    | terminate_and_restart
                                                    | abort_immediately             
                                                    | abort_immediately_and_restart ) #IMPLIED>
<!ATTLIST modify_spooler        suspended           (yes|no) #IMPLIED>
                                                                        <!-- Antwort: <ok> -->

<!ELEMENT modify_job            EMPTY>
<!ATTLIST modify_job            job                 CDATA #REQUIRED>
<!ATTLIST modify_job            cmd                 (stop|unstop|start|end|suspend|continue) #IMPLIED>
                                                                        <!-- cmd="stop"     -> state="stopped" -->
                                                                        <!-- cmd="unstop"   -> state="pending" -->
                                                                        <!-- cmd="start"    -> state="running" -->
                                                                        <!-- cmd="end"      -> state="pending" -->
                                                                        <!-- cmd="suspend"  -> state="suspended" -->
                                                                        <!-- cmd="continue" -> state="running" -->
                                                                        <!-- Antwort: <tasks> -->

<!ELEMENT start_job             ( params? )>
<!ATTLIST start_job             job                 CDATA #REQUIRED>
<!ATTLIST start_job             name                CDATA #IMPLIED>     <!-- Name für diese Task -->
<!ATTLIST start_job             after               CDATA #IMPLIED>     <!-- Erst nach so vielen Sekunden starten -->
<!ATTLIST start_job             at                  CDATA #IMPLIED>     <!-- Oder genau zu diesem Zeitpunkt (mit Datum!) starten -->

<!ELEMENT params                ( param* )>                             <!-- Parameter für cmd="start" -->

<!ELEMENT param                 EMPTY>
<!ATTLIST param                 name                CDATA #REQUIRED>    <!-- Name des Parameters -->
<!ATTLIST param                 value               CDATA #REQUIRED>    <!-- Wert des Parameters -->


<!ELEMENT add_jobs              ( job+ )>
<!ATTLIST add_jobs              thread              CDATA #REQUIRED>
                                                                        <!-- Antwort: <ok> -->

<!ELEMENT signal_object         EMPTY>                                  <!-- Gibt Spooler Bescheid, dass ein neues Objekt da ist -->
<!ATTLIST signal_object         class               CDATA #REQUIRED>    <!-- Objektemengeklasse des Objekts -->
<!ATTLIST signal_object         level               CDATA #REQUIRED>    <!-- Stufennummer -->
                                                                        <!-- Antwort: <tasks> -->




<!-- ANTWORTEN AUF DIE KOMMANDOS  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<!ELEMENT answer                ( state | task | ERROR )>

<!ELEMENT state                 ( tasks )>
<!ATTLIST state                 time                CDATA #REQUIRED>    <!-- yyyy-mm-dd HH:MM:SS -->
<!ATTLIST state                 running_since       CDATA #IMPLIED>     <!-- yyyy-mm-dd HH:MM:SS -->
<!ATTLIST state                 log_file            CDATA #IMPLIED>
<!ATTLIST state                 sleeping_until      CDATA #IMPLIED>     <!-- yyyy-mm-dd HH:MM:SS -->
<!ATTLIST state                 tasks               CDATA #IMPLIED>     <!-- Zahl seit Spooler-Start gestarteter Tasks -->
<!ATTLIST state                 steps               CDATA #IMPLIED>     <!-- Zahl seit Spooler-Start erfolgreich ausgeführter Schritte -->
<!ATTLIST state                 cpu_time            CDATA #IMPLIED>     <!-- 9.999 -->

<!ELEMENT tasks                 ( task+ )>

<!ELEMENT task                  ( queued_tasks? | ERROR? )>
<!ATTLIST task                  job                 CDATA #REQUIRED>    <!-- Jobname -->
<!ATTLIST task                  state               (stopped|pending|running|suspended) #REQUIRED>
                                                                        <!-- state="stopped"  : Keine Task wird mehr gestartet -->
                                                                        <!-- state="pending"  : Task wartet auf nächsten  -->
                                                                        <!-- state="running"  : Task läuft -->
                                                                        <!-- state="suspended": Task vorübergehend angehalten -->
<!ATTLIST task                  calling             CDATA #IMPLIED>     <!-- Aktive Routine des Skripts -->
<!ATTLIST task                  steps               CDATA #IMPLIED>     <!-- Anzahl der bisher ausgeführten Jobschritte -->
<!ATTLIST task                  running_since       CDATA #IMPLIED>     <!-- yyyy-mm-dd HH:MM:SS -->
<!ATTLIST task                  next_start_time     CDATA #IMPLIED>     <!-- yyyy-mm-dd HH:MM:SS -->

<!ELEMENT queued_tasks          ( queued_task* )>

<!ELEMENT queued_task           EMPTY>
<!ATTLIST queued_task           enqueued            CDATA #REQUIRED>    <!-- yyyy-mm-dd HH:MM:SS -->
<!ATTLIST queued_task           name                CDATA #IMPLIED>     <!-- Wert der Variablen spooler_task_name -->


<!ELEMENT ok                    EMPTY>

<!ELEMENT ERROR                 EMPTY>
<!ATTLIST ERROR                 time                CDATA #REQUIRED>    <!-- yyyy-mm-dd HH:MM:SS -->
<!ATTLIST ERROR                 class               CDATA #IMPLIED>     <!-- "EOF" -->
<!ATTLIST ERROR                 code                CDATA #REQUIRED>    <!-- "SOS-1234" -->
<!ATTLIST ERROR                 text                CDATA #REQUIRED>    <!-- Fehlertext mit Fehlercode -->
<!ATTLIST ERROR                 source              CDATA #IMPLIED>     <!-- Dateiname -->
<!ATTLIST ERROR                 line                CDATA #IMPLIED>     <!-- Zeilennummer, beginned mit 1 -->
<!ATTLIST ERROR                 col                 CDATA #IMPLIED>     <!-- Spaltennummer, beginned mit 1 -->
