spooler_config.dtd

<?xml version="1.0" encoding="iso-8859-1"?>
<!-- $Id: spooler_config.dtd,v 1.3 2001/01/02 19:07:45 jz Exp $   (C) 2000 SOS GmbH Berlin -->

<!ELEMENT spooler_config        ( try_start_job_period?, object_set_classes, jobs? ) >


<!ELEMENT try_start_job_period  ( #PCDATA ) >


<!ELEMENT object_set_classes    ( object_set_class+ ) >

<!ELEMENT object_set_class      ( level_decls?, script? ) >
<!ATTLIST object_set_class      name CDATA #REQUIRED >

<!ELEMENT level_decls           ( level_decl+ ) >

<!ELEMENT level_decl            ( level, level_description ) >

<!ELEMENT level                 ( #PCDATA ) >

<!ELEMENT level_description     ( #PCDATA ) >

<!ELEMENT script                ( #PCDATA ) >
<!ATTLIST script                language CDATA "VBScript" >



<!ELEMENT jobs                  ( job+ ) >

<!ELEMENT job                   ( object_set, output_level, priority?, start_time?, period?, stop_after_error?, rerun?, start_after_spooler? ) >
<!ATTLIST job                   name CDATA #REQUIRED >

<!ELEMENT object_set            ( object_set_class.name, levels? ) >

<!ELEMENT object_set_class.name ( #PCDATA ) >

<!ELEMENT output_level          ( level ) >

<!ELEMENT levels                ( low_level, high_level ) >

<!ELEMENT low_level             ( level ) >

<!ELEMENT high_level            ( level ) >

<!ELEMENT priority              ( #PCDATA ) >

<!ELEMENT start_time            ( time, date?, weekdays?, monthdays?, ultimos?, duration? ) >

<!ELEMENT time                  ( #PCDATA ) >   <!-- HH:MM:SS -->

<!ELEMENT date                  ( #PCDATA ) >   <!-- yyyy-mm-dd -->

<!--
<!ELEMENT weekdays              ( monday | tuesday | wednesday | thursday | friday | saturday | sunday )+ >
<!ELEMENT monday                EMPTY>
<!ELEMENT tuesday               EMPTY>
<!ELEMENT wednesday             EMPTY>
<!ELEMENT thursday              EMPTY>
<!ELEMENT friday                EMPTY>
<!ELEMENT saturday              EMPTY>
<!ELEMENT sunday                EMPTY>
-->

<!ELEMENT weekdays              ( day+ ) >
<!ELEMENT monthdays             ( day+ ) >
<!ELEMENT ultimos               ( day+ ) >
<!ELEMENT day                   ( #PCDATA ) >

<!ELEMENT duration              ( #PCDATA ) >

<!ELEMENT period                ( #PCDATA ) >

<!ELEMENT stop_after_error      EMPTY >

<!ELEMENT rerun                 EMPTY >
                                  
<!ELEMENT start_after_spooler   EMPTY >

