kernel-cpp/zschimmer/rtf/rtf.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id: rtf.xsd 11247 2005-01-11 23:22:22Z jz $ Joacim Zschimmer  -->
<!--W3C Schema generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="control_word">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="cxx_name" type="xs:ID" use="required"/>
            <xs:attribute name="type" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="destination"/>
                        <xs:enumeration value="flag"/>
                        <xs:enumeration value="ignore_destination"/>
                        <xs:enumeration value="symbol"/>
                        <xs:enumeration value="toggle"/>
                        <xs:enumeration value="value"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="word_version" type="xs:integer" use="optional"/>
            <xs:attribute name="prop_doc" type="xs:boolean" use="optional" default="false"/>
            <xs:attribute name="section" type="xs:string" use="optional"/>
            <xs:attribute name="prop_char" type="xs:boolean" use="optional" default="false"/>
            <xs:attribute name="prop_para" type="xs:boolean" use="optional" default="false"/>
            <xs:attribute name="print_newline" type="xs:boolean" use="optional" default="false"/>
            <xs:attribute name="prop_sect" type="xs:boolean" use="optional" default="false"/>
            <xs:attribute name="prop_dest" type="xs:boolean" use="optional" default="false"/>
            <xs:attribute name="star" type="xs:boolean" use="optional" default="false"/>
            <xs:attribute name="prop_border" type="xs:boolean" use="optional" default="false"/>
            <xs:attribute name="prop_row" type="xs:boolean" use="optional" default="false"/>
            <xs:attribute name="prop_cell" type="xs:boolean" use="optional" default="false"/>
            <xs:attribute name="has_text" type="xs:boolean" use="optional" default="false"/>
            <xs:attribute name="own_prop" type="xs:boolean" use="optional" default="false"/>
            <xs:attribute name="default" type="xs:NMTOKEN" use="optional"/>
            <xs:attribute name="prop_tab" type="xs:boolean" use="optional" default="false"/>
            <xs:attribute name="header" type="xs:boolean" use="optional" default="false"/>
            <xs:attribute name="special_char" type="xs:boolean" use="optional" default="false"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="control_words">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="control_word" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="rtf">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="control_words"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
